@import url(color.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
img{
    vertical-align: bottom;
}
input[type=submit]{
    cursor: pointer;
}
body{
    font: 400 16px/1.4 Verdana, Arial, sans-serif;
}
#presentation{
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}
#main_content{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

/* Corrections spécifiques */
.leisure ul{
    list-style: inside square;
}


/* header */
 #mainhead nav, #mainhead #mobile{
    display: none;
 }
 #mainhead nav.appear, #mainhead #mobile.appear{
    display: block;
 }


/* Première colonne */
#structure{
    display: flex;
    width: 90%;
}
#structure #presentation{
    background: var(--beige);
    position: relative;
    width : 25rem;
    height : 150vh;
    margin: 2rem;
}
#presentation .identity{
    padding: 4rem;
}
#structure .bg_id{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
#structure .bg_square{
    height: 35vh;
    background: var(--gris);
    max-height: 35vh;
}
#structure .bg_arrow{
   border-top: 8rem solid var(--gris);
   border-left: 11vw solid transparent;
   border-right: 9.9vw solid transparent;
   max-width: 100%;
}
.maintitle{
    font-size: 2.5rem;
    font-weight: normal;
    font-style: italic;
    letter-spacing: .2rem;
    text-align: center;
    padding: 3rem 0 2rem;
    text-transform: capitalize;
}
.name, .age{
    position: relative;
    text-align: center;
    color: white;
}

/* contact */
.contact{
    margin: 11rem auto 10rem;
    text-align: center;
    width: 80%;
}

/* infos perso */
.perso_infos{
    padding: 4rem 0;
}
.perso_infos .subtitle{
    position: relative;
    background: var(--beige);
    text-align: center;
    width: 20.9vw;
}
.perso_infos ul{
    margin: 1rem 0 2rem 1rem;
    position: relative;
    padding: 0 4rem;
}
.perso_infos li{
    color: white;
}
#structure .bg_infos{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 39rem;
    left: 0;
    right: 0;
}
#structure .bg_square2{
    height: 70vh;
    background: var(--gris);
}
#structure .bg_arrowup{
   border-bottom: 8rem solid var(--gris);
   border-left: 10.9vw solid transparent;
   border-right: 10vw solid transparent;
   max-width: 100%;
}